<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^login login.php [NC,L]
RewriteRule ^logout logout.php [NC,L]
RewriteRule ^reserver test.php [NC,L]
RewriteRule ^events events.php [NC,L]
RewriteRule ^categories categories.php [NC,L]
RewriteRule ^nouvcategorie nouvcat.php [NC,L]
RewriteRule ^users users.php [NC,L]
RewriteRule ^events2 events2.php [NC,L]
RewriteRule ^reservations reservations.php [NC,L]
RewriteRule ^questions questions.php [NC,L]
RewriteRule ^abonnements abonnements.php [NC,L]
RewriteRule ^packs packs.php [NC,L]
RewriteRule ^abonnes subscribers.php [NC,L]





</IfModule>